{% extends 'base.html.twig' %}

{% block title %}Sorteo{% endblock %}

{% block stylesheets %}
    {{ parent() }}
    <style>
        body {
            display: flex;
            flex-direction: column;
            align-items: center;
            justify-content: center;
            height: 100vh;
            margin: 0;
        }

        h1 {
            color: #007bff;
            margin-bottom: 20px;
        }

        .table {
            margin: 1em auto;
            max-width: 800px;
            width: 95%;
            font: 18px/1.5 sans-serif;
            text-align: left;
            background-color: #f8f9fa;
            padding: 20px;
            border-radius: 10px;
            box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
        }

        th {
            text-align: left;
            padding-right: 20px;
        }

        td {
            padding-right: 20px;
        }

        a.button {
            display: inline-block;
            padding: 10px 20px;
            font-size: 18px;
            text-align: center;
            text-decoration: none;
            background-color: #28a745;
            color: #fff;
            border-radius: 5px;
            margin-top: 10px;
        }

        a.button:hover {
            background-color: #218838;
        }
    </style>
{% endblock %}

{% block body %}
    <h1>Sorteo</h1>

    <table class="table">
        <tbody>
            <tr>
                <th>Id</th>
                <td>{{ sorteo.id }}</td>
            </tr>
            <tr>
                <th>Nombre del sorteo</th>
                <td>{{ sorteo.nombre }}</td>
            </tr>
            <tr>
                <th>Fecha de creación</th>
                <td>{{ sorteo.fechaINI ? sorteo.fechaINI|date('Y-m-d H:i:s') : '' }}</td>
            </tr>
            <tr>
                <th>Fecha de cierre</th>
                <td>{{ sorteo.fechaFIN ? sorteo.fechaFIN|date('Y-m-d H:i:s') : '' }}</td>
            </tr>
            <tr>
                <th>Precio de venta de boleto</th>
                <td>{{ sorteo.precioBoleto }}</td>
            </tr>
            <tr>
                <th>Números que se venden</th>
                <td>{{ sorteo.numerosPosibles }}</td>
            </tr>
        </tbody>
    </table>

    <a href="{{ path('app_sorteo_index') }}" class="button">Vuelve a la lista</a>
    <a href="{{ path('app_main') }}" class="button">Vuelve al inicio</a>

    <a href="{{ path('app_sorteo_edit', {'id': sorteo.id}) }}" class="button">edit</a>

    {{ include('sorteo/_delete_form.html.twig') }}
{% endblock %}
